{% extends "basis.html" %}

{% block content %}
<div>
    <form action="{{ url_for('page_cadastro_personagem') }}" method="POST" class="formularios">
        {{ form.hidden_tag() }}
        {{ form.nome.label() }}
        {{ form.nome }}
        {{ form.descricao.label() }}
        {{ form.descricao }}
        {{ form.imagem.label() }}
        {{ form.imagem }}
        {{ form.disponivel.label() }}
        {{ form.disponivel }}
        {{ form.patente.label() }}
        {{ form.patente }}
        {{ form.enviar(class='btn btn-primary')}}
    </form>
</div>
{% endblock %}