{% extends "basis.html" %}
{% block content %}
<div class="grupo-cards">
    {% for personagem in personagens %}
        
    <!-- Para cada personagem, criamos um card -->

      {% if not personagem.disponível %}

        <div class="card bg-base-100 w-96 shadow-sm">
          <figure class="px-10 pt-10">
            <img
              src="{{ personagem.imagem }}"
              alt="{{ personagem.nome }}"
              class="rounded-xl grayscale"
              referrerpolicy="no-referrer"/>
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">{{ personagem.nome }}</h2>
            <div class="card-actions">
              <a class="btn btn-primary grayscale" href="#">Oucupado</a>
            </div>
          </div>
        </div>

      {% elif personagem.patente != usuario.patente %}

        <div class="card bg-base-100 w-96 shadow-sm">
          <figure class="px-10 pt-10">
            <img
              src="{{ personagem.imagem }}"
              alt="{{ personagem.nome }}"
              class="rounded-xl grayscale"
              referrerpolicy="no-referrer"/>
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">{{ personagem.nome }}</h2>
            <div class="card-actions">
              <a class="btn btn-error" href="#">Bloqueado</a>
            </div>
          </div>
        </div>

      {% else %}
    
        <div class="card bg-base-100 w-96 shadow-sm">
          <figure class="px-10 pt-10">
            <img
              src="{{ personagem.imagem }}"
              alt="{{ personagem.nome }}"
              class="rounded-xl"
              referrerpolicy="no-referrer"/>
          </figure>
          <div class="card-body items-center text-center">
            <h2 class="card-title">{{ personagem.nome }}</h2>
            <div class="card-actions">
              <a class="btn btn-primary" href="{{ url_for('page_escolher_personagem', id=personagem.id) }}">Escolher</a>
            </div>
          </div>
        </div>

      {% endif %}

    {% endfor %}

</div>
{% endblock %}