<nav class="navbar bg-black shadow">
  <div class="flex-1">
    <a class="btn btn-ghost text-white text-mg ">Seja bem vindo ADM 😎!!</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li class="text-white">
        <details>
          <summary>Ações Disponíveis</summary>
          <ul class="bg-base-100 rounded-t-none p-2 text-black">
            <li><a href="{{ url_for('page_lista_personagens') }}">Lista de Personagens</a></li>
            <li><a href="{{ url_for('page_cadastro_personagem') }}">Cadastrar Personagem</a></li>
            <li><a href="{{ url_for('page_tabela_personagens') }}">Tabela de Personagens</a></li>
            <li><a href="{{ url_for('page_tabela_usuarios') }}">Tabela de Usuários</a></li>
            <li><a href="{{ url_for('page_logout') }}">Sair</a></li>
          </ul>
        </details>
      </li>
    </ul>
  </div>
</nav>